  <nav class="navbar navbar-expand-md navbar-light bg-dark">
     <div class="container-fluid">
    <a href="#" class="navbar-brand"><span class="material-icons text-success md-48">store</span> </a>

    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item  dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" data-bs-toggle="dropdown"  href="">Categories</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="">Category1</a>
          <a class="dropdown-item" href="">Category2</a>
          <a class="dropdown-item" href="">Category3</a>
          <a class="dropdown-item" href="">Category4</a>
          <a class="dropdown-item" href="">Category5</a>
         </div>
      </li>
      <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="">Contacts</a> </li>
      <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="">About</a> </li>
    </ul>

    <form class="form-inline">
      <div class="input-group">
        <input type="text" placeholder="Search">
        <div>
          <button class="btn-success"><span class="material-icons  md-24">search</span></button>
        </div>
      </div>

    </form>
    </div>
    </div>
  </nav>